## Preprocessing

In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Start Spark session
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame Basics").getOrCreate()

In [3]:
from pyspark import SparkFiles
#Read in csv to pyspark dataframe
path = "healthcare-dataset-stroke-data.csv"
spark.sparkContext.addFile(path)
df = spark.read.csv(SparkFiles.get("healthcare-dataset-stroke-data.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+-----+------+---+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
|   id|gender|age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|stroke|
+-----+------+---+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
| 9046|  Male| 67|           0|            1|         Yes|      Private|         Urban|           228.69|36.6|formerly smoked|     1|
|51676|Female| 61|           0|            0|         Yes|Self-employed|         Rural|           202.21| N/A|   never smoked|     1|
|31112|  Male| 80|           0|            1|         Yes|      Private|         Rural|           105.92|32.5|   never smoked|     1|
|60182|Female| 49|           0|            0|         Yes|      Private|         Urban|           171.23|34.4|         smokes|     1|
| 1665|Female| 79|           1|            0|         Yes|Self-employed|         Rural|           174.12|  24|   never smoked|     1|
|56669|  Male| 81|           0|            0|         Yes|      Private|         Urban|           186.21|  29|formerly smoked|     1|
|53882|  Male| 74|           1|            1|         Yes|      Private|         Rural|            70.09|27.4|   never smoked|     1|
|10434|Female| 69|           0|            0|          No|      Private|         Urban|            94.39|22.8|   never smoked|     1|
|27419|Female| 59|           0|            0|         Yes|      Private|         Rural|            76.15| N/A|        Unknown|     1|
|60491|Female| 78|           0|            0|         Yes|      Private|         Urban|            58.57|24.2|        Unknown|     1|
|12109|Female| 81|           1|            0|         Yes|      Private|         Rural|            80.43|29.7|   never smoked|     1|
|12095|Female| 61|           0|            1|         Yes|     Govt_job|         Rural|           120.46|36.8|         smokes|     1|
|12175|Female| 54|           0|            0|         Yes|      Private|         Urban|           104.51|27.3|         smokes|     1|
| 8213|  Male| 78|           0|            1|         Yes|      Private|         Urban|           219.84| N/A|        Unknown|     1|
| 5317|Female| 79|           0|            1|         Yes|      Private|         Urban|           214.09|28.2|   never smoked|     1|
|58202|Female| 50|           1|            0|         Yes|Self-employed|         Rural|           167.41|30.9|   never smoked|     1|
|56112|  Male| 64|           0|            1|         Yes|      Private|         Urban|           191.61|37.5|         smokes|     1|
|34120|  Male| 75|           1|            0|         Yes|      Private|         Urban|           221.29|25.8|         smokes|     1|
|27458|Female| 60|           0|            0|          No|      Private|         Urban|            89.22|37.8|   never smoked|     1|
|25226|  Male| 57|           0|            1|          No|     Govt_job|         Urban|           217.08| N/A|        Unknown|     1|
+-----+------+---+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
only showing top 20 rows

In [4]:
#Use pyspark flitering to drop na values
df = df.filter("bmi != 'N/A'")


df.show()

+-----+------+---+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
|   id|gender|age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|stroke|
+-----+------+---+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
| 9046|  Male| 67|           0|            1|         Yes|      Private|         Urban|           228.69|36.6|formerly smoked|     1|
|31112|  Male| 80|           0|            1|         Yes|      Private|         Rural|           105.92|32.5|   never smoked|     1|
|60182|Female| 49|           0|            0|         Yes|      Private|         Urban|           171.23|34.4|         smokes|     1|
| 1665|Female| 79|           1|            0|         Yes|Self-employed|         Rural|           174.12|  24|   never smoked|     1|
|56669|  Male| 81|           0|            0|         Yes|      Private|         Urban|           186.21|  29|formerly smoked|     1|
|53882|  Male| 74|           1|            1|         Yes|      Private|         Rural|            70.09|27.4|   never smoked|     1|
|10434|Female| 69|           0|            0|          No|      Private|         Urban|            94.39|22.8|   never smoked|     1|
|60491|Female| 78|           0|            0|         Yes|      Private|         Urban|            58.57|24.2|        Unknown|     1|
|12109|Female| 81|           1|            0|         Yes|      Private|         Rural|            80.43|29.7|   never smoked|     1|
|12095|Female| 61|           0|            1|         Yes|     Govt_job|         Rural|           120.46|36.8|         smokes|     1|
|12175|Female| 54|           0|            0|         Yes|      Private|         Urban|           104.51|27.3|         smokes|     1|
| 5317|Female| 79|           0|            1|         Yes|      Private|         Urban|           214.09|28.2|   never smoked|     1|
|58202|Female| 50|           1|            0|         Yes|Self-employed|         Rural|           167.41|30.9|   never smoked|     1|
|56112|  Male| 64|           0|            1|         Yes|      Private|         Urban|           191.61|37.5|         smokes|     1|
|34120|  Male| 75|           1|            0|         Yes|      Private|         Urban|           221.29|25.8|         smokes|     1|
|27458|Female| 60|           0|            0|          No|      Private|         Urban|            89.22|37.8|   never smoked|     1|
|70630|Female| 71|           0|            0|         Yes|     Govt_job|         Rural|           193.94|22.4|         smokes|     1|
|13861|Female| 52|           1|            0|         Yes|Self-employed|         Urban|           233.29|48.9|   never smoked|     1|
|68794|Female| 79|           0|            0|         Yes|Self-employed|         Urban|            228.7|26.6|   never smoked|     1|
|64778|  Male| 82|           0|            1|         Yes|      Private|         Rural|            208.3|32.5|        Unknown|     1|
+-----+------+---+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
only showing top 20 rows

In [5]:
# Original model used 'ever_married' column

# #Use pyspark to drop id column
# df = df.select(['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi','smoking_status','stroke'])

# df.show()

In [6]:
#Use pyspark to drop id and ever_married column
df = df.select(['gender','age','hypertension','heart_disease','work_type','Residence_type','avg_glucose_level','bmi','smoking_status','stroke'])

df.show()

+------+---+------------+-------------+-------------+--------------+-----------------+----+---------------+------+
|gender|age|hypertension|heart_disease|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|stroke|
+------+---+------------+-------------+-------------+--------------+-----------------+----+---------------+------+
|  Male| 67|           0|            1|      Private|         Urban|           228.69|36.6|formerly smoked|     1|
|  Male| 80|           0|            1|      Private|         Rural|           105.92|32.5|   never smoked|     1|
|Female| 49|           0|            0|      Private|         Urban|           171.23|34.4|         smokes|     1|
|Female| 79|           1|            0|Self-employed|         Rural|           174.12|  24|   never smoked|     1|
|  Male| 81|           0|            0|      Private|         Urban|           186.21|  29|formerly smoked|     1|
|  Male| 74|           1|            1|      Private|         Rural|            70.09|27.4|   never smoked|     1|
|Female| 69|           0|            0|      Private|         Urban|            94.39|22.8|   never smoked|     1|
|Female| 78|           0|            0|      Private|         Urban|            58.57|24.2|        Unknown|     1|
|Female| 81|           1|            0|      Private|         Rural|            80.43|29.7|   never smoked|     1|
|Female| 61|           0|            1|     Govt_job|         Rural|           120.46|36.8|         smokes|     1|
|Female| 54|           0|            0|      Private|         Urban|           104.51|27.3|         smokes|     1|
|Female| 79|           0|            1|      Private|         Urban|           214.09|28.2|   never smoked|     1|
|Female| 50|           1|            0|Self-employed|         Rural|           167.41|30.9|   never smoked|     1|
|  Male| 64|           0|            1|      Private|         Urban|           191.61|37.5|         smokes|     1|
|  Male| 75|           1|            0|      Private|         Urban|           221.29|25.8|         smokes|     1|
|Female| 60|           0|            0|      Private|         Urban|            89.22|37.8|   never smoked|     1|
|Female| 71|           0|            0|     Govt_job|         Rural|           193.94|22.4|         smokes|     1|
|Female| 52|           1|            0|Self-employed|         Urban|           233.29|48.9|   never smoked|     1|
|Female| 79|           0|            0|Self-employed|         Urban|            228.7|26.6|   never smoked|     1|
|  Male| 82|           0|            1|      Private|         Rural|            208.3|32.5|        Unknown|     1|
+------+---+------------+-------------+-------------+--------------+-----------------+----+---------------+------+
only showing top 20 rows

In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Convert the pyspark dataframe to pandas dataframe for machine learning model
import pandas as pd 
risk_factors_df = df.toPandas()
risk_factors_df.head()

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67,0,1,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80,0,1,Private,Rural,105.92,32.5,never smoked,1
2,Female,49,0,0,Private,Urban,171.23,34.4,smokes,1
3,Female,79,1,0,Self-employed,Rural,174.12,24,never smoked,1
4,Male,81,0,0,Private,Urban,186.21,29,formerly smoked,1

In [8]:
# Determine the number of unique values in each column.
risk_factors_df.nunique()

gender                  3
age                   104
hypertension            2
heart_disease           2
work_type               5
Residence_type          2
avg_glucose_level    3852
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
factor_dummies = pd.get_dummies(risk_factors_df[['gender','work_type','Residence_type','smoking_status']])
#concat the dummies data onto the original dataframe
risk_factors_df = pd.concat([risk_factors_df, factor_dummies], axis=1)
#Drop original columns that have been converted to binary classification columns
risk_factors_df = risk_factors_df.drop(columns=['gender','work_type','Residence_type','smoking_status'])

risk_factors_df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67,0,1,228.69,36.6,1,0,1,0,0,0,1,0,0,0,1,0,1,0,0
1,80,0,1,105.92,32.5,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0
2,49,0,0,171.23,34.4,1,1,0,0,0,0,1,0,0,0,1,0,0,0,1
3,79,1,0,174.12,24,1,1,0,0,0,0,0,1,0,1,0,0,0,1,0
4,81,0,0,186.21,29,1,0,1,0,0,0,1,0,0,0,1,0,1,0,0

In [10]:
#Checking data type from converted dataframe
risk_factors_df.dtypes

age                               object
hypertension                      object
heart_disease                     object
avg_glucose_level                 object
bmi                               object
stroke                            object
gender_Female                      uint8
gender_Male                        uint8
gender_Other                       uint8
work_type_Govt_job                 uint8
work_type_Never_worked             uint8
work_type_Private                  uint8
work_type_Self-employed            uint8
work_type_children                 uint8
Residence_type_Rural               uint8
Residence_type_Urban               uint8
smoking_status_Unknown             uint8
smoking_status_formerly smoked     uint8
smoking_status_never smoked        uint8
smoking_status_smokes              uint8
dtype: object

In [11]:
#Fixing object data types
risk_factors_df[['age','hypertension','heart_disease','avg_glucose_level','bmi','stroke']] = risk_factors_df[['age','hypertension','heart_disease','avg_glucose_level','bmi','stroke']].astype('float')

In [12]:
#Verify Correct data types
risk_factors_df.dtypes

age                               float64
hypertension                      float64
heart_disease                     float64
avg_glucose_level                 float64
bmi                               float64
stroke                            float64
gender_Female                       uint8
gender_Male                         uint8
gender_Other                        uint8
work_type_Govt_job                  uint8
work_type_Never_worked              uint8
work_type_Private                   uint8
work_type_Self-employed             uint8
work_type_children                  uint8
Residence_type_Rural                uint8
Residence_type_Urban                uint8
smoking_status_Unknown              uint8
smoking_status_formerly smoked      uint8
smoking_status_never smoked         uint8
smoking_status_smokes               uint8
dtype: object

In [13]:
# Split our preprocessed data into our features and target arrays
y = risk_factors_df.stroke.values
X = risk_factors_df.drop(columns="stroke").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
#Initial model structure.

# # First hidden layer
# stroke_model.add(tf.keras.layers.Dense(units=32, activation="relu", input_dim=21))

# # Second hidden layer
# stroke_model.add(tf.keras.layers.Dense(units=32, activation="relu"))

# # Third hidden layer
# stroke_model.add(tf.keras.layers.Dense(units=32, activation="relu"))

# # Output layer - SIGMOID as the output layer, as we are classifying into a binary classification type
# stroke_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [16]:
#New model structure. Loss and accuracy improved with one less hidden layer and lower number of neurons

stroke_model = tf.keras.models.Sequential()

# First hidden layer
stroke_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=19))

# Second hidden layer
stroke_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer - SIGMOID as the output layer, as we are classifying into a binary classification type
stroke_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
stroke_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                320

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 609 (2.38 KB)
Trainable params: 609 (2.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
stroke_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
#Original fit had the model tested at 100 epochs.
# # Train the model
# fit_model = stroke_model.fit(X_train_scaled, y_train, epochs=100)

In [19]:
# # Train the model
# fit_model = stroke_model.fit(X_train_scaled, y_train, epochs=250)

In [20]:
# Train the model - Model accuracy begins regressing past 100 epochs
fit_model = stroke_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
116/116 [==============================] - 1s 766us/step - loss: 0.3713 - accuracy: 0.8824
Epoch 2/100
116/116 [==============================] - 0s 757us/step - loss: 0.1725 - accuracy: 0.9573
Epoch 3/100
116/116 [==============================] - 0s 757us/step - loss: 0.1538 - accuracy: 0.9573
Epoch 4/100
116/116 [==============================] - 0s 748us/step - loss: 0.1470 - accuracy: 0.9573
Epoch 5/100
116/116 [==============================] - 0s 748us/step - loss: 0.1433 - accuracy: 0.9573
Epoch 6/100
116/116 [==============================] - 0s 731us/step - loss: 0.1411 - accuracy: 0.9573
Epoch 7/100
116/116 [==============================] - 0s 731us/step - loss: 0.1390 - accuracy: 0.9573
Epoch 8/100
116/116 [==============================] - 0s 740us/step - loss: 0.1376 - accuracy: 0.9573
Epoch 9/100
116/116 [==============================] - 0s 731us/step - loss: 0.1368 - accuracy: 0.9573
Epoch 10/100
116/116 [==============================] - 0s 722us/step - loss: 0.1354 - accuracy: 0.9573
Epoch 11/100
116/116 [==============================] - 0s 731us/step - loss: 0.1343 - accuracy: 0.9573
Epoch 12/100
116/116 [==============================] - 0s 731us/step - loss: 0.1337 - accuracy: 0.9573
Epoch 13/100
116/116 [==============================] - 0s 775us/step - loss: 0.1331 - accuracy: 0.9573
Epoch 14/100
116/116 [==============================] - 0s 740us/step - loss: 0.1320 - accuracy: 0.9573
Epoch 15/100
116/116 [==============================] - 0s 740us/step - loss: 0.1319 - accuracy: 0.9573
Epoch 16/100
116/116 [==============================] - 0s 740us/step - loss: 0.1312 - accuracy: 0.9573
Epoch 17/100
116/116 [==============================] - 0s 740us/step - loss: 0.1308 - accuracy: 0.9573
Epoch 18/100
116/116 [==============================] - 0s 740us/step - loss: 0.1300 - accuracy: 0.9573
Epoch 19/100
116/116 [==============================] - 0s 731us/step - loss: 0.1294 - accuracy: 0.9573
Epoch 20/100
116/116 [==============================] - 0s 731us/step - loss: 0.1290 - accuracy: 0.9573
Epoch 21/100
116/116 [==============================] - 0s 731us/step - loss: 0.1285 - accuracy: 0.9573
Epoch 22/100
116/116 [==============================] - 0s 740us/step - loss: 0.1281 - accuracy: 0.9573
Epoch 23/100
116/116 [==============================] - 0s 731us/step - loss: 0.1279 - accuracy: 0.9573
Epoch 24/100
116/116 [==============================] - 0s 714us/step - loss: 0.1275 - accuracy: 0.9573
Epoch 25/100
116/116 [==============================] - 0s 722us/step - loss: 0.1269 - accuracy: 0.9576
Epoch 26/100
116/116 [==============================] - 0s 731us/step - loss: 0.1261 - accuracy: 0.9573
Epoch 27/100
116/116 [==============================] - 0s 722us/step - loss: 0.1262 - accuracy: 0.9579
Epoch 28/100
116/116 [==============================] - 0s 714us/step - loss: 0.1257 - accuracy: 0.9576
Epoch 29/100
116/116 [==============================] - 0s 731us/step - loss: 0.1252 - accuracy: 0.9579
Epoch 30/100
116/116 [==============================] - 0s 731us/step - loss: 0.1246 - accuracy: 0.9579
Epoch 31/100
116/116 [==============================] - 0s 740us/step - loss: 0.1243 - accuracy: 0.9576
Epoch 32/100
116/116 [==============================] - 0s 722us/step - loss: 0.1238 - accuracy: 0.9582
Epoch 33/100
116/116 [==============================] - 0s 740us/step - loss: 0.1236 - accuracy: 0.9576
Epoch 34/100
116/116 [==============================] - 0s 731us/step - loss: 0.1233 - accuracy: 0.9582
Epoch 35/100
116/116 [==============================] - 0s 731us/step - loss: 0.1228 - accuracy: 0.9579
Epoch 36/100
116/116 [==============================] - 0s 722us/step - loss: 0.1223 - accuracy: 0.9582
Epoch 37/100
116/116 [==============================] - 0s 714us/step - loss: 0.1227 - accuracy: 0.9582
Epoch 38/100
116/116 [==============================] - 0s 722us/step - loss: 0.1216 - accuracy: 0.9579
Epoch 39/100
116/116 [==============================] - 0s 731us/step - loss: 0.1217 - accuracy: 0.9587
Epoch 40/100
116/116 [==============================] - 0s 722us/step - loss: 0.1207 - accuracy: 0.9587
Epoch 41/100
116/116 [==============================] - 0s 722us/step - loss: 0.1205 - accuracy: 0.9582
Epoch 42/100
116/116 [==============================] - 0s 731us/step - loss: 0.1203 - accuracy: 0.9584
Epoch 43/100
116/116 [==============================] - 0s 722us/step - loss: 0.1208 - accuracy: 0.9595
Epoch 44/100
116/116 [==============================] - 0s 731us/step - loss: 0.1199 - accuracy: 0.9584
Epoch 45/100
116/116 [==============================] - 0s 731us/step - loss: 0.1192 - accuracy: 0.9590
Epoch 46/100
116/116 [==============================] - 0s 740us/step - loss: 0.1190 - accuracy: 0.9587
Epoch 47/100
116/116 [==============================] - 0s 731us/step - loss: 0.1183 - accuracy: 0.9587
Epoch 48/100
116/116 [==============================] - 0s 731us/step - loss: 0.1179 - accuracy: 0.9590
Epoch 49/100
116/116 [==============================] - 0s 722us/step - loss: 0.1179 - accuracy: 0.9593
Epoch 50/100
116/116 [==============================] - 0s 722us/step - loss: 0.1176 - accuracy: 0.9595
Epoch 51/100
116/116 [==============================] - 0s 722us/step - loss: 0.1176 - accuracy: 0.9598
Epoch 52/100
116/116 [==============================] - 0s 731us/step - loss: 0.1172 - accuracy: 0.9601
Epoch 53/100
116/116 [==============================] - 0s 722us/step - loss: 0.1166 - accuracy: 0.9595
Epoch 54/100
116/116 [==============================] - 0s 722us/step - loss: 0.1165 - accuracy: 0.9601
Epoch 55/100
116/116 [==============================] - 0s 723us/step - loss: 0.1160 - accuracy: 0.9598
Epoch 56/100
116/116 [==============================] - 0s 722us/step - loss: 0.1156 - accuracy: 0.9598
Epoch 57/100
116/116 [==============================] - 0s 731us/step - loss: 0.1152 - accuracy: 0.9598
Epoch 58/100
116/116 [==============================] - 0s 731us/step - loss: 0.1150 - accuracy: 0.9606
Epoch 59/100
116/116 [==============================] - 0s 731us/step - loss: 0.1147 - accuracy: 0.9601
Epoch 60/100
116/116 [==============================] - 0s 736us/step - loss: 0.1141 - accuracy: 0.9612
Epoch 61/100
116/116 [==============================] - 0s 731us/step - loss: 0.1141 - accuracy: 0.9601
Epoch 62/100
116/116 [==============================] - 0s 722us/step - loss: 0.1137 - accuracy: 0.9601
Epoch 63/100
116/116 [==============================] - 0s 722us/step - loss: 0.1133 - accuracy: 0.9603
Epoch 64/100
116/116 [==============================] - 0s 731us/step - loss: 0.1131 - accuracy: 0.9609
Epoch 65/100
116/116 [==============================] - 0s 731us/step - loss: 0.1129 - accuracy: 0.9606
Epoch 66/100
116/116 [==============================] - 0s 766us/step - loss: 0.1129 - accuracy: 0.9603
Epoch 67/100
116/116 [==============================] - 0s 731us/step - loss: 0.1120 - accuracy: 0.9617
Epoch 68/100
116/116 [==============================] - 0s 722us/step - loss: 0.1121 - accuracy: 0.9601
Epoch 69/100
116/116 [==============================] - 0s 714us/step - loss: 0.1114 - accuracy: 0.9606
Epoch 70/100
116/116 [==============================] - 0s 722us/step - loss: 0.1128 - accuracy: 0.9606
Epoch 71/100
116/116 [==============================] - 0s 722us/step - loss: 0.1114 - accuracy: 0.9606
Epoch 72/100
116/116 [==============================] - 0s 731us/step - loss: 0.1125 - accuracy: 0.9603
Epoch 73/100
116/116 [==============================] - 0s 722us/step - loss: 0.1107 - accuracy: 0.9603
Epoch 74/100
116/116 [==============================] - 0s 722us/step - loss: 0.1103 - accuracy: 0.9612
Epoch 75/100
116/116 [==============================] - 0s 730us/step - loss: 0.1104 - accuracy: 0.9612
Epoch 76/100
116/116 [==============================] - 0s 742us/step - loss: 0.1096 - accuracy: 0.9609
Epoch 77/100
116/116 [==============================] - 0s 723us/step - loss: 0.1096 - accuracy: 0.9606
Epoch 78/100
116/116 [==============================] - 0s 731us/step - loss: 0.1091 - accuracy: 0.9609
Epoch 79/100
116/116 [==============================] - 0s 730us/step - loss: 0.1088 - accuracy: 0.9614
Epoch 80/100
116/116 [==============================] - 0s 714us/step - loss: 0.1088 - accuracy: 0.9612
Epoch 81/100
116/116 [==============================] - 0s 731us/step - loss: 0.1085 - accuracy: 0.9603
Epoch 82/100
116/116 [==============================] - 0s 729us/step - loss: 0.1082 - accuracy: 0.9612
Epoch 83/100
116/116 [==============================] - 0s 722us/step - loss: 0.1082 - accuracy: 0.9609
Epoch 84/100
116/116 [==============================] - 0s 739us/step - loss: 0.1084 - accuracy: 0.9612
Epoch 85/100
116/116 [==============================] - 0s 730us/step - loss: 0.1073 - accuracy: 0.9609
Epoch 86/100
116/116 [==============================] - 0s 729us/step - loss: 0.1074 - accuracy: 0.9614
Epoch 87/100
116/116 [==============================] - 0s 731us/step - loss: 0.1078 - accuracy: 0.9612
Epoch 88/100
116/116 [==============================] - 0s 740us/step - loss: 0.1073 - accuracy: 0.9609
Epoch 89/100
116/116 [==============================] - 0s 722us/step - loss: 0.1074 - accuracy: 0.9609
Epoch 90/100
116/116 [==============================] - 0s 757us/step - loss: 0.1068 - accuracy: 0.9620
Epoch 91/100
116/116 [==============================] - 0s 722us/step - loss: 0.1069 - accuracy: 0.9612
Epoch 92/100
116/116 [==============================] - 0s 731us/step - loss: 0.1060 - accuracy: 0.9620
Epoch 93/100
116/116 [==============================] - 0s 731us/step - loss: 0.1061 - accuracy: 0.9612
Epoch 94/100
116/116 [==============================] - 0s 731us/step - loss: 0.1059 - accuracy: 0.9620
Epoch 95/100
116/116 [==============================] - 0s 731us/step - loss: 0.1058 - accuracy: 0.9614
Epoch 96/100
116/116 [==============================] - 0s 731us/step - loss: 0.1055 - accuracy: 0.9612
Epoch 97/100
116/116 [==============================] - 0s 731us/step - loss: 0.1053 - accuracy: 0.9617
Epoch 98/100
116/116 [==============================] - 0s 731us/step - loss: 0.1056 - accuracy: 0.9620
Epoch 99/100
116/116 [==============================] - 0s 740us/step - loss: 0.1050 - accuracy: 0.9606
Epoch 100/100
116/116 [==============================] - 0s 722us/step - loss: 0.1047 - accuracy: 0.9622

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = stroke_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

39/39 - 0s - loss: 0.1965 - accuracy: 0.9536 - 110ms/epoch - 3ms/step
Loss: 0.19653792679309845, Accuracy: 0.9535830616950989

In [22]:
# Export our model to HDF5 file
stroke_model.save("stroke_status_trained.h5")